<title>AutomaCord - The Bot List for Discord</title>
<meta name="description" content="Enhance your Discord experience with our bespoke collection of Discord Bots!">
<meta property="og:title" content="AutomaCord - The Bot List for Discord">
<meta property="og:url" content="https://automacord.xyz">
<meta property="og:description" content="Find the perfect bot for your Discord Server!">
<meta name="theme-color" content="#202225">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/style.css">
<link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">
