<div class="navbar">
  <img class="nav-icon" src="/ac.png">
  <span class="nav-title">AutomaCord</span>
  <div class="nav-options">
    <a href="/">
      <span class="nav-option">Home</span>
    </a>
    <a href="/all">
      <span class="nav-option">All Bots</span>
    </a>
    <a href="/queue">
      <span class="nav-option">Queue</span>
    </a>
    <a href="https://discord.gg/XQT4DEt" target="_blank">
      <span class="nav-option">Join Server</span>
    </a>
    {{#if signedIn}}
    <span class="nav-option has-menu">
      {{cUser}}
      <div class="submenu">
        <a href="/profile">
          <span class="nav-suboption">Profile</span>
        </a>
        <a href="/add">
          <span class="nav-suboption">Add Bot</span>
        </a>
        <a href="/auth/logout">
          <span class="nav-suboption">Logout</span>
        </a>
      </div>
    </span>
    {{else}}
    <a href="/auth/login">
      <span class="nav-option">Login</span>
    </a>
    {{/if}}
  </div>
</div>
