<div class="navbar">
  <span class="nav-title">AutomaCord</span>
  <div class="nav-options">
    <a href="/">
      <span class="nav-option">Home</span>
    </a>
    <a href="queue">
      <span class="nav-option">Queue</span>
    </a>
    <a href="https://discord.gg/XQT4DEt" target="_blank">
      <span class="nav-option">Join Server</span>
    </a>
    <a href="add">
      <span class="nav-option">Add Bot</span>
    </a>
  </div>
</div>
