<head>
  <title>AutomaCord</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="navbar">
    </div>
  </div>
  <div class="error-message">Error: {{error}}<br><br>Check the information and try again.</div>
</body>
