{{> head}}

<body>
  {{> navbar}}
  <div class="error-message">
    Error: {{error}}
    {{#if shouldRetry}}
      <br><br>
      Check the information provided and then try again
    {{/if}}
  </div>
</body>
