<head>
  <title>AutomaCord</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">
</head>

<body>
  <div class="navbar">
    <span class="nav-title">AutomaCord</span>
    <div class="nav-options">
      <span class="nav-option">Home</span>
      <span class="nav-option">Add Bot</span>
    </div>
  </div>
  <div class="error-message">
    Error: {{error}} {{#if shouldRetry}}
    <br><br>Check the information and try again. {{/if}}
  </div>
</body>