<head>
  <title>AutomaCord</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="navbar">
    </div>
  </div>
  <div class="bots">
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/270904126974590976/7cea1fc3a899e7c1ed3542c0fe630519.png?size=1024">
      <span>Dank Memer</span>
    </div>
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/249303797371895820/930cdbe33fb6be0cbe46a4aae94848b6.png?size=1024">
      <span>JukeBot</span>
    </div>
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/252232935820754955/87be6f14673305f5c46dbd10c59c9e7e.png?size=1024">
      <span>Parallax</span>
    </div>
  </div>
</body>
