<head>
  <title>AutomaCord</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="navbar">
    </div>
  </div>
  <div class="selection-title">Top Bots</div>
  <div class="bots">
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/270904126974590976/7cea1fc3a899e7c1ed3542c0fe630519.png?size=1024">
      <span data-description="Memes, memes and more memes. What else could you possibly want?">Dank Memer</span>
    </div>
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/405978650446528513/aa58bf3f7c6459aa4087d1a9c06f230b.png?size=1024">
      <span>Mini Memer</span>
    </div>
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/226391947722358794/9e0210551bdc7b93068e4e0857130a9f.png?size=1024">
      <span>Ariana Ghandi</span>
    </div>
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/423858016413286400/3770b52aabf26b53deec51b1bba31b7e.png?size=1024">
      <span>fake news</span>
    </div>
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/249303797371895820/930cdbe33fb6be0cbe46a4aae94848b6.png?size=1024">
      <span>JukeBot</span>
    </div>
    <div class="bot-card">
      <img src="https://cdn.discordapp.com/avatars/252232935820754955/87be6f14673305f5c46dbd10c59c9e7e.png?size=1024">
      <span>Parallax</span>
    </div>
    {{#each bots}}
      <a href="https://www.youtube.com/watch?v=D7eQzUrUMvU">
        <div class="bot-card">
          <img src="{{avatar}}">
          <span>{{name}}</span>
        </div>
      </a>
    {{/each}}
    <a href="https://www.youtube.com/watch?v=D7eQzUrUMvU">
      <div class="bot-card">
        <img src="add_icon.png">
        <span>Add your bot!</span>
      </div>
    </a>
  </div>
</body>
