<head>
  <title>AutomaCord</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="navbar">
    </div>
  </div>
  <div class="bots">
    {{#each bots}}
      <a href="https://www.youtube.com/watch?v=D7eQzUrUMvU">
        <div class="bot-card">
          <img src="{{avatar}}">
          <span>{{name}}</span>
        </div>
      </a>
    {{/each}}
    <a href="https://www.youtube.com/watch?v=D7eQzUrUMvU">
      <div class="bot-card">
        <img src="add_icon.png">
        <span>Add your bot!</span>
      </div>
    </a>
  </div>
</body>
