{{> head}}

<body>
  {{> navbar}}
  <div class="body-title">Bots in the queue</div>
  <div class="bots">
    {{#each bots}}
    <div class="bot-card" onclick="window.location = '/bot/{{id}}'">
      <img src="{{avatar}}">
      <span data-description="{{shortDesc}}">{{username}}</span>
    </div>
    {{/each}}
  </div>
</body>
