body {
  margin: 0px;
  background-color: #2F3136;
  font-family: 'Roboto', sans-serif;
  color: #dcddde;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #202225;
}

.selection-title {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 60px;
}

.bots-wrapper {
  display: flex;
  text-align: center;
  width: 100%;
  justify-items: center;
}

.bots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.bot-card {
  background-color: #202225;
  position: relative;
  width: 300px;
  height: 210px;
  margin-right: 15px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.bot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-out;
}

.bot-card span {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(32,34,37,.6);
  bottom: 0px;
  height: 40px;
  width: 100%;
  transition: 0.5s ease-in;
  text-align: center;
}

.bot-card:hover > img {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  transition: 0.5s ease-in;
}

.bot-card:hover > span {
  height: 100%;
  transition: 0.5s ease-out;
}

.bot-card:hover > span::after {
  content: '\a' attr(data-description);
  white-space: pre-wrap;
  margin: 10px;
}

a, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}
