body {
  margin: 0px;
  background-color: #2F3136;
  font-family: 'Roboto', sans-serif;
  color: #dcddde;
  padding-bottom: 25px;
}

button {
  background-color: #202225;
  border: 1px solid black;
  outline: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

button:hover {
  border: 1px solid white;
  transition: 0.5s ease-in;
}

a, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #202225;
}

.nav-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-left: 20px;
}

.nav-options a {
  color: inherit;
  transition: 0.25s ease-out;
}

.nav-options a:hover {
  color: #1E90FF;
  transition: 0.25s ease-in;
}

.nav-option {
  margin-right: 20px;
}

.body-title {
  font-size: 30px;
  margin-left: 5%;
  margin-top: 60px;
}

.bots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
}

.bot-card {
  background-color: #202225;
  position: relative;
  width: 300px;
  height: 210px;
  margin-right: 7.5px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.bot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-out;
}

.bot-card span {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(32,34,37,.6);
  bottom: 0px;
  height: 40px;
  width: 100%;
  transition: 0.5s ease-in;
  text-align: center;
}

.bot-card:hover > img {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  transition: 0.5s ease-out;
}

.bot-card:hover > span {
  height: 100%;
  transition: 0.5s ease-out;
}

.bot-card:hover > span .description {
  opacity: 1;
  transition: 0.5s ease-in;
}

.bot-card .description {
  position: absolute;
  background-color: transparent;
  opacity: 0;
  height: 45%;
  width: 290px;
  padding-left: 5px;
  padding-right: 5px;
}

.add-title, .error-message {
  font-size: 30px;
  margin-top: 30px;
  margin-left: 5%;
}

.add-form {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  font-size: 20px;
}

.add-form input, .add-form textarea, .add-form button {
  min-width: 100%;
  max-width: 100%;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.add-form textarea {
  min-height: 200px;
}

.add-form a, .add-form a:visited, .add-form a:link, .add-form a:active {
  text-decoration: underline;
  color: #1E90FF;
}

.bot-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  margin-top: 20px;
}

.bot-avatar {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  margin-left: 20px;
}

.bot-subinfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 20px;
}

.bot-label a {
  color: #1E90FF;
}

.bot-name {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
}

.bot-label {
  font-size: 20px;
  margin-bottom: 10px;
}

.bot-links button {
  min-width: 75px;
  margin-top: 5px;
}

.long-description {
  margin-top: 20px;
  margin-left: 20px;
  width: calc(100% - 40px);
}

.reject-bot {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
  font-size: 20px;
}

.reject-bot input {
  margin-top: 10px;
  height: 25px;
}

.reject-bot button {
  margin-top: 10px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile .banner {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
  z-index: -1;
}

.user-profile .avatar {
  margin-top: 20px;
  border-radius: 100%;
}

.user-profile .username {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  font-size: 32px;
}

.user-profile .bot-title {
  margin-top: 75px;
  font-size: 32px;
}

.user-profile .bot-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
